---
import { type ResourceFetch } from '@/types/resource';
import IconDocument from '@/assets/icons/IconDocument.astro';
import ContainerLink from '@/components/common/ContainerLink.astro';
import CardResource from './cardResource/CardResource.astro';

interface Props {
  resources: ResourceFetch[];
  type: string;
  error: string | null;
}
const { resources, type, error } = Astro.props;
---

<div class='grid grid-cols-1 gap-4 mt-4'>
  {
    resources.length == 0 ? (
      <div class='flex flex-col w-full px-6 py-10 rounded-xl bg-gradient-to-br from-zinc-900/90 to-zinc-950/95 border border-border/60 overflow-hidden hover:border-zinc-700/80 text-center shadow-md'>
        <h2 class='text-xl font-semibold text-zinc-100 mb-2'>Sin resultados</h2>
        <p class='text-zinc-400 mb-4'>No se encontraron {type}es disponibles.</p>
        <ContainerLink
          url=''
          class='border border-accent text-foreground w-max mx-auto mt-3 font-bold'
        >
          <div class='flex gap-2 items-center'>
            <IconDocument size={20} />
            <span> Subir {type} </span>
          </div>
        </ContainerLink>
      </div>
    ) : (
      <>
        {resources.map((resource, i) => {
          const { title, urlDrive } = resource;
          return <CardResource title={title} urlDrive={urlDrive} type={type} mostRecent={i == 0} />;
        })}
        <ContainerLink
          url=''
          class='border border-accent text-foreground bg-gradient-to-br from-zinc-900/90 to-zinc-950/95  w-max mx-auto mt-5  font-bold'
        >
          <div class='flex gap-2 items-center px-2 justify-center'>
            <IconDocument size={17} class='fill-foreground' />
            <span> Subir {type} </span>
          </div>
        </ContainerLink>
      </>
    )
  }
  <div class='md:h-[50vh]'></div>
</div>
