---
import ContainerSection from '@/components/common/ContainerSection.astro';
import HeaderSubject from '../subject/HeaderSubject.astro';
import InfoSubject from './InfoSubject.astro';
import type { Subject } from '@/types/subjects';
import CorrelativesComponent from '@/components/react/correlatives/CorrelativesSection';

interface Props {
  subject: Subject;
}
const { subject } = Astro.props;
---

<ContainerSection id='hero'>
  <div class='py-3 rounded-xl px-2'>
    <a href='/#subjects' class='font-bold text-foreground-secondary flex gap-2 items-center'>
      <svg class='text-foreground-secondary rotate-180' width='20' height='20' viewBox='0 0 24 24'>
        <path fill='currentColor' d='M16.175 13H4v-2h12.175l-5.6-5.6L12 4l8 8l-8 8l-1.425-1.4z'
        ></path>
      </svg>
      <span> Volver a materias </span>
    </a>
  </div>
  <HeaderSubject title={subject.title} year={subject.year} quadmester={subject.quadmester} />
  <InfoSubject
    url={subject.url}
    description={subject.description}
    urlMoodle={subject.urlMoodle}
    urlPrograma={subject.urlPrograma}
    themes={subject.themes}
  />
  <CorrelativesComponent
    client:visible
    title='Correlativas'
    initialSelectedMateria={subject.id}
    clickeable={false}
  />
</ContainerSection>
